html, body{
  margin: 0;
  height: 100%;
}

p{
  margin: 0;
}

#logo{
  font-family: 'Secular One', sans-serif;
  font-size: 4em;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 0 0 0 72px;
  text-transform: uppercase;
  padding: 0 0 0 0;
}

#top{
  color: #fd8982;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  font-size: 1em;
  text-shadow: 0px 9px rgb(0, 0, 0), 0px 9px black;
}

#homepage{
  text-decoration: none;
}

#stories{
  color: #fd8982;
  margin: 0px 0 0 -20px;
  padding: 28px 0 0 0px;
  font-size: 1em;
  text-shadow: 0px 9px rgb(0, 0, 0), 0px 9px black;
}

#main-container{
  background-color: #fd8982;
}

#nav-selection-open{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#open-menu{
  font-size: 60px;
  width: 57%;
  height: 57px;
  display: flex;
  order: 1;
  justify-content: flex-end;
  padding: 30px 0 0 0;
  margin: 0 72px 0 0;
}

#open-menu-button{
  color: black;
}

#nav-header{
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0 25px 0;
  width: 90%;
}

#close-menu{
  font-size: 80px;
  display: flex;
  width: 60px;
  height: 76px;
  justify-content: flex-end;
  position: absolute;
}

#nav-selection h2{
  font-family: 'Secular One', sans-serif;
  font-size: 3em;
  display: flex;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
}

#nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px 0 0 30px;
}

.nav-items{
  font-family: 'Secular One', sans-serif;
  color: black;
  font-size: 1.5em;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  height: auto;
  display: flex;
}

#carrot-right{
  height: 30px;
  margin: 5px 0 0 4px;
}

#entry-container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#hero-image{
  border-top: 2px solid #ffd962;
  margin: 11px 30px 16px 30px;
  padding: 15px 0px 0 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-img{
  width: 95%;
}

#hero-container{
  margin: 20px 0 0 0;
}

#hero-title{
  font-family: 'Arimo', sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-align: center;
}

#hero-title:hover{
  color: #ffd962;
}

#hero-desc{
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
}

#hero-by-line{
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
}

.entry-posts{
  border-top: 2px solid #ffd962;
  display: flex;
  flex-direction: row;
  margin: 11px 30px 16px 30px;
  padding: 15px 0px 0 0px;
  justify-content: center;
}

.entry-img{
  width: 40%;
  height: 0%;
}

.single-entry-container{
  height: auto;
  width: 47%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
}

.entry-title{
  font-family: 'Arimo', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.entry-title:hover{
  color: #ffd962;
}

.entry-desc{
  font-size: 1em;
  margin: 0 0 10px 0;
  font-style: italic;
}

.entry-by{
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
}

#footer{
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  margin: 10px 0 0 0;
  border-top: 2px solid #ffd962;
  display: flex;
  justify-content: center;
  margin: 15px 72px 0px 72px;
  padding: 16px 0 0 0;
  height: 40px;
}

@media only screen
and (min-device-width : 300px)
and (max-device-width : 736px) {
  #nav-selection-open {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
  }

  #open-menu {
    font-size: 35px;
    width: 100%;
    height: auto;
    display: flex;
    order: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #homepage {
    text-decoration: none;
    width: 100%;
    display: flex;
  }

  #logo {
    font-family: 'Secular One', sans-serif;
    font-size: 3em;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 0 8.5%;
    text-transform: uppercase;
    padding: 0 0 0 0;
  }

  #top {
    color: #fd8982;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    font-size: 1.2em;
    text-shadow: 0px 10px rgb(0, 0, 0), 0px 8px black;
  }

  #stories {
    color: #fd8982;
    margin: 0px 0 0 -20px;
    padding: 28px 0 0 0px;
    font-size: 1.2em;
    text-shadow: 0px 10px rgb(0, 0, 0), 0px 8px black;
  }

  #nav-container {
    display: flex;
    width: 72%;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    margin: 10px 0 0 30px;
  }

  .nav-items{
    font-size: 1.2em;
    padding: 0 0 0 0;
  }

  #hero-title{
    font-size: 2em;
  }

  #hero-desc{
    font-size: 1.3em;
  }

  .entry-posts{
    flex-direction: column;
  }

  .entry-img{
    width: 100%;
  }

  .single-entry-container{
    width: 100%;
    margin: 13px 0 0 0;
  }

  .entry-title{
    font-size: 1.5em;
    margin: 0 0 0 0;
  }

  .entry-desc{
    margin: 6px 0 3px 0;
  }

  .entry-by{
    font-size: 1em;
    margin: 3px 0 0 0;
  }
}
